@model List<ResultExperienceDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Experiences</h1>
<table class="table table-hover table-bordered">
    @{
        int count = 0;
    }
    <tr>
        <th>#</th>
        <th>Title</th>
        <th>Subtitle</th>
        <th>Description</th>
        <th>Start Date</th>
        <th>End Date</th>

    </tr>
    @foreach (var item in Model)
    {
        count++;
        <tr>
            <td>@count</td>
            <td>@item.Title</td>
            <td>@item.Subtitle</td>
            <td>@item.Description</td>
            <td>@item.StartDate</td>
            <td>@item.EndDate</td>
            <td>
                <a asp-controller="Experience" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-outline-danger">Delete</a>
                <a asp-controller="Experience" asp-action="Update" asp-route-id="@item.Id" class="btn btn-outline-info">Update</a>
            </td>
        </tr>
    }
</table>
<a asp-controller="Experience" asp-action="Create" class="btn btn-outline-dark">Create</a>

